*{
    margin:0px;
    padding:0px;
    font-family: 'Nanum Myeongjo', serif;
}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 40px;
    background-color: rgb(45, 27, 9);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.container{
    box-sizing: border-box;
    padding: 80px 20px 20px 20px;
    width: 100%;
    height:100vh;
    background-color: rgba(255, 230, 180, 0.7);
}
h1,h3{
    text-align: center;
    line-height:1.7;
}

.logo{
    font-size: 32px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

.navbar a{
    position: relative;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 20px;
    margin-right: 95px;
}

.navber a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    transition: .3s;
}

.navbar a:hover::before{
    width: 100%;
}

.sent{
    font-size:18px;
    line-height: 1.3;
    margin:10px 0px 10px 0px;
}

.sent h2{
    margin-bottom:10px;
}

#entttile{
    padding: 20px 10px;
}

#enttitle h1{
    color: rgb(45, 27, 9);
    text-align: center;
    line-height:1.3;

}

#enttitle p{
    color: rgb(45, 27, 9);
    font-size:20px;
    margin:5px;
    text-align: center;
    line-height:1.5;
}

img{
    float:left;
    margin-right:20px;
}

#freq{
    background-color: #fff;
    border:3pt solid goldenrod;
    margin:0px 20px 20px 420px;
    padding:20px;
    text-align: center;
    line-height:1.5;
}

h2{
    color: rgb(45, 27, 9);
}

.container h2{
    color: rgb(45, 27, 9);
    font-size:20px;
}

.container p{
    margin-top: 5px;
}

.button{
    background-color: darksalmon;
    padding:7px;
}

footer{
    box-sizing: border-box;
    min-width: 100%;
    padding: 10px 20px;
    background-color: rgb(45, 27, 9);
    color:#fff;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}


